*{
    padding: 0%;
    margin: 0%;
} 
body{
    background-color: whitesmoke;
}

nav {
    background-color:white;
    width: 100%;
    height:72px;
    position: static;

}
.clock {
  font-size: 165px;
  width: 100px;
  margin: 210px;

  text-align: center;
  border: 2px solid black;
  /*border-radius: 20px;*/
       }
    ol{
     float:left;
    line-height: 5;
    

}
ol li{
    
    display: inline-block;
    margin:20px;
    
    line-height: 0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

}


 
ul {

    float:right;
    line-height: 4;
    margin-left: 50px;

}
ul li{
    display:inline-block;
    margin:18px;
    
    line-height: 0;
    font-size: 20px;
    font-weight: bold;

    
}
.bt{
    width: 100px;
    height: 40px;
    background-color: blue;
    font-weight: bold;
  border-radius: 10px;
  border: none;
  color: white;
   }
   .bt:hover{
    background-color: green;
   }
a{
    text-decoration: none;
    color:black;
    
}
a:hover{
    color: deepskyblue;
}
img{
    float: left;
   width: 200px;
   height: 70px;
   margin-right: 60px;
   margin-left: 30px;
   line-height: 0;
  }
  .main{
    width: 100%;
    height: 350px;
    margin: 60px;
    
    
    background-color: whitesmoke;

  }
  .left{
    width: 49%;
    height: 300px;
    
    margin: 10px;
    float: right;
    background-color: whitesmoke;
    margin-left: 40px;

  }
  .right{
    text-align: centre;
    width: 42%;
    height: 300px;
    float: left;
    
    margin: 10px;
    background-color: whitesmoke;

  }
  body
{

}
.container{
    
    width: 90%;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
    background-color:whitesmoke;

}
.cont{
    
    width: 40%;
    height: 110px;
    margin: 20px;
    border-radius:20px ;
    margin-right: 90px;
    padding:20px ;
    margin-top: 40px;

}
.row-1{
    display: flex;
    margin-left:50px ;
}
.row-2{
    display: flex;
    margin-left: 50px;
}
.icon{
 color: darkblue;
 font-size: 27px;
 float: left;
 margin: 10px;
 margin-left: 20px;
 margin-top: 15px;
}
.para1{
color: black;
font-size: 16px;
text-align: right;
float: right;
margin-right:10px ;
margin-bottom:80px ;
margin-top: 20px;
}
.para2{
    text-align: centre;
    margin-top: 20px;
    margin-left: 70px;

}
.f{
    display: inline-flex;
    background: lightgrey;
    width: 90%;
    height: 400px;

    
}
i{
    display: inline-block;
    margin: 5px;

}
.f1{
    display: block;
    margin: 20px;
    
}
ul{
    list-style-type: none;
    line-height: 2;

}
h4{
    font-weight: bold;
}


  
          

  
  